*

!/fish/
!/fish/**
!fish/fish_variables

!/autostart/
!/autostart/**

!/rc/
!/rc/**

!/jetbrains-custom/
!/jetbrains-custom/**


!kritarc
!kwinrc
!plasmashellrc
!plasma-org.kde.plasma.desktop-appletsrc
!kglobalshortcutsrc
!spectaclerc
!kritadisplayrc
!yakuakerc
!krunnerrc
!plasmarc
!konsolerc
!kwinrulesrc
!khotkeysrc
!krita-scripterrc
!gtkrc
!gtkrc-2.0

!keymapper.conf


!/.gitignore
