*

!/fish/
!/fish/**
fish/fish_variables
!/autostart/
!/autostart/**


!kritarc
!kwinrc
!plasmashellrc
!plasma-org.kde.plasma.desktop-appletsrc
!kglobalshortcutsrc
!spectaclerc
!kritadisplayrc
!dolphinrc
!yakuakerc
!krunnerrc
!plasmarc
!konsolerc
!kwinrulesrc
!khotkeysrc
!krita-scripterrc
!gtkrc
!gtkrc-2.0


!/.gitignore